<h1>會員登入</h1>

<%= form_with(model: @user, url: login_path, method: 'post', local: true) do |f| %>
  <div class='fields'>
<%= f.label :email, 'email' %>
<%= f.text_field :email %>
</div>
<div class='fields'>
<%= f.label :password, '密碼' %>
<%= f.password_field :password %>
</div>
<%= f.submit '登入' %>
<% end %>