<h1>註冊會員</h1>

<%= form_for(@user) do |f| %>
  
  <div class='fields'>
<%= f.label :email %>
<%= f.text_field :email %>
</div>
<div class='fields'>
<%= f.label :password, '密碼' %>
<%= f.password_field :password %>
</div>
<div class='fields'>
<%= f.label :password_confirmation, '密碼確認' %>
<%= f.password_field :password_confirm %>
</div>
<div class='fields'>
<%= f.label :nickname, '暱稱' %>
<%= f.text_field :nickname %>
</div>
<%= f.submit '註冊' %>
  <% end %>